html,
body {
margin: 0;
height: 100%;
}

@font-face {
font-family: 'bauhausc_demi';
src: url('https://zapsters.github.io/Home/fonts/bauhausc_demibold_regular-webfont.woff2') format('woff2'), url('https://zapstergames.github.io/Home/fonts/bauhausc_demibold_regular-webfont.woff') format('woff');
font-weight: normal;
font-style: normal;
}

html,
body {
max-width: 100%;
overflow: hidden;
}

::-webkit-scrollbar {
width: 0px;
/* Remove scrollbar space */
background: transparent;
/* Optional: just make scrollbar invisible */
}

map {
display: block;
cursor: pointer;
}

#sub {
font-family: 'bauhausc_demi';
color: #000;
text-decoration: none;
text-transform: uppercase;
font-size: 30px;
font-weight: 500;
letter-spacing: -1px;
line-height: 1;
position: relative;
}

#version {
font-family: 'bauhausc_demi';
text-decoration: none;
text-transform: uppercase;
font-size: 13px;
font-weight: 500;
letter-spacing: 3px;
line-height: 0;
color: #000;
position: relative;
bottom: 25px;
}

#versionSUB {
font-family: 'bauhausc_demi';
text-decoration: none;
text-transform: uppercase;
font-size: 9px;
font-weight: 500;
letter-spacing: 3px;
line-height: 0;
color: #000;
position: relative;
bottom: 25px;
}

.sub {
font-family: 'bauhausc_demi';
text-decoration: none;
text-transform: uppercase;
font-size: 13px;
font-weight: 500;
letter-spacing: 3px;
line-height: 0;
color: #000;
position: relative;
bottom: -5px;
}

#sub2 {
font-family: 'bauhausc_demi';
text-decoration: none;
text-transform: uppercase;
font-size: 15px;
font-weight: 500;
letter-spacing: 3px;
line-height: 1;
color: #000;
position: relative;
bottom: -5px;
}

#sub2v2 {
font-family: 'bauhausc_demi';
text-decoration: none;
text-transform: uppercase;
font-size: 15px;
font-weight: 500;
letter-spacing: 3px;
line-height: 1;
color: #000;
position: relative;
bottom: 5px;
}

#topdivtext {
font-family: 'bauhausc_demi';
color: #000;
text-decoration: none;
text-transform: uppercase;
font-size: 20px;
font-weight: 500;
letter-spacing: 3px;
line-height: 1;
position: relative;
bottom: 5px;
}

#botdivtext {
font-family: 'bauhausc_demi';
color: #000;
text-decoration: none;
text-transform: uppercase;
font-size: 20px;
font-weight: 500;
letter-spacing: 3px;
line-height: 1;
position: relative;
bottom: 5px;
}

.poz {
font-family: 'bauhausc_demi';
font-size: 30px;
position: absolute;
background-color: #555;
bottom: 5px;
left: 5px;
color: white;
width: 99%;
border: 3px solid #555;
"

}

.pozb {
font-family: 'bauhausc_demi';
font-size: 30px;
background-color: #555;
bottom: -40px;
z-index: 5;
color: white;
width: 15%;
border: 3px solid #555;
"

}

.poz2 {
font-family: 'bauhausc_demi';
position: absolute;
bottom: 35px;
left: 5px;
color: white;
width: 100%;
}

.poz3 {
font-family: 'bauhausc_demi';
font-size: 30px;
position: absolute;
bottom: 150px;
left: 5px;
z-index: 9;
color: white;
width: 100%;
}

.temp123 {
text-align: center;
font-size: 30px;
}

.temp123 > input {
text-align: left;
width: 50%;
}

.container .btn {
position: absolute;
top: 200px;
left: 50%;
transform: translate(-50%, 30%);
-ms-transform: translate(-50%, -50%);
background-color: #000;
color: #000;
font-size: 5px;
padding: 5px 5px;
border: none;
cursor: pointer;
border-radius: 5px;
text-align: center;
}

.container {
position: relative;
width: 100%;
max-width: 400px;
}

#more {
background: none;
border: none;
color: #000;
font-family: 'bauhausc_demi';
cursor: default
}

#oldtextdiv {
position: absolute;
z-index: 9;
background-color: transparent;
text-align: center;
border: 1px solid transparent;
}

#mydivheader {
cursor: move;
z-index: 1;
font-family: 'bauhausc_demi';
color: #111;
text-decoration: none;
font-size: 20px;
font-weight: 500;
letter-spacing: 3px;
line-height: 1;
color: #111;
position: relative;
bottom: 5px;
}

#log {
position: absolute;
top: 7%;
left: 0;
width: 90%;
max-width: 100%;
letter-spacing: 0px;
font-family: 'bauhausc_demi';
text-shadow: -1px -1px #fff;
font-size: 16px;
margin: 0px 0 0 0;
padding: 0px 0px;
color: #000;
height: 55%;
overflow: scroll;
z-index: 9;
}

.logo {
    /* Change to 1 to invite logo class */
    -webkit-filter: invert(1);
    filter: invert(1);
}