body {
    background: #fcfcf0;
    color: black;
    font-family: "Courier New";
    height: 100%;
    margin: 0; padding: 0;
}
.noPM {padding:0;margin:0;}
#header {
	color: white;
    padding: 0px 30px 0px 10px; 
    margin: auto;
    height: 120px;
    position: relative;
	background: #1a1919;
    border-bottom: 5px #852828 solid;
}
#header #cC img {
    display: inline;
    width: 100px;
    margin: 12px 0px 0px 10px;
    padding: 0px;
    position: absolute;
}
#header #cC h1 {
  display: inline;
  position: absolute;
  top: 35%;
  left: 130px;
  font-size: 40px;
}
#header #navbar {
  overflow: hidden;
  float: right;
  height: 100%;
  padding-right: 10px;
}
#header #navbar a {
  position: relative;
  float: left;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 20px;
  cursor: pointer;
  padding: 0px 10px 0px 10px;
  height: 40%;
}
/* Change the color of links on hover */
#header #navbar a:hover {
  background-color: #ddd;
  color: black;
}
/* Add a color to the active/current link */
#header #navbar a.active {
  border-bottom: #f2f2f2 4px solid;
}
.pageContent {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  margin-top: 10px;
  padding: 10px 10px 10px 10px;
}
.alert {
  border: 3px #852828 solid;
  margin: 0px 0px 0px 0px;
  font-weight: 600;
  padding: 13px 10px 10px 10px;
  background: #B96560;;
  color: white;
}
.entry {
  background: white;
  color: black;
  font-size: 19px;
  margin-top: 10px; 
  border: #4a4a4a 4px solid;
  padding: 2px;
  position: relative;
  padding-bottom: 30px;
}
.entry h1 {
  font-size: 30px;
  padding: 14px 10px 6px 10px;
  margin: 0;
}
.entry p {
  padding: 0px 0px 0px 0px;
  margin: 8px 10px 0px 10px;
  text-indent: 20px
}
.entry hr {
  padding: 0px;
  margin: 0px;
  background-color: #4a4a4a;
  border: #4a4a4a 1px solid;
}
.entry .sub {
  font-size: 13px;
  padding: 0;
  margin: 0;
  bottom: 0px;
  position: absolute;
}
.footer {
  text-align: center;
  margin: 8px 0px 0px 0px;
  color: black;
}
.footer p {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

@media screen and (max-width: 700px) {
    #header #navbar {
    	display: none;
    }
}
.entry hr {padding:0;margin:0;}
